################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/PremiersPas
/PilesTableaux
/ExerciceGPS_Etudiants
/Entrainement Perso CSharp
